<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/inicio']">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" *ngIf="!identity || !identity.name">
                    <a class="nav-link" [routerLink]="['/login']">Login</a>
                </li>
                <li class="nav-item" *ngIf="!identity || !identity.name">
                    <a class="nav-link" [routerLink]="['/register']">Registro</a>
                </li>
                <li class="nav-item" *ngIf="identity && identity.name">
                    <a class="nav-link" [routerLink]="['/comunidades']">Comunidades</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right" *ngIf="identity && identity.name">
                <li *ngIf="identity && identity.picture" class="nav-item">
                    <div class="avatar-mask">
                        <img src="{{url + 'user/avatar/' + identity.picture}}" class="avatar_navbar"/>
                    </div>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropDown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{identity.name + ' ' + identity.surname }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                        <a class="dropdown-item" [routerLink]="['/crear-usuario']" *ngIf="identity.role_id ==0">Crear Usuario</a>
                        <a class="dropdown-item" >Crear Unidad</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" [routerLink]="['/ajustes']">Ajustes</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" [routerLink]="['/logout/1']">Salir</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Content -->
    <router-outlet></router-outlet>
</div>

<footer class="mt-3 p-3">
    <hr/>
    <div class="container">
        <section class="row">
            <article class="col">
                Desarrollo Angular
            </article>
        </section>
    </div>
</footer>