<div class="col-md-12 mt-3">

    <h1>{{page_title}}</h1>

    <h2>{{identity.name}} puedes crear nuevos usuarios</h2>

    <hr />

    <div class="alert alert-success col-md-6 my-3" *ngIf="status == 'success'">
        Los cambios fueron guardados correctamente
    </div>

    <div class="alert alert-danger col-md-6 my-3" *ngIf="status == 'error'">
        Los cambios no fueron guardados correctamente
    </div>

    <form class="col-md-5 ml-0 pl-0" #userNewForm="ngForm" (ngSubmit)="onSubmit(userNewForm)">
        <div class="form-group">
            <label for="name">Nombre </label>
            <input type="text" class="form-control" name="name" id="name" #name="ngModel" [(ngModel)]="user.name"
                   required pattern="[a-zA-Z]+"/>
            <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
                El nombre no es valido
            </small>
        </div>

        <div class="form-group">
            <label for="surname">Apellido </label>
            <input class="form-control" type="text" name="surname" id="surname" #surname="ngModel" [(ngModel)]="user.surname"
                   required pattern="[a-z A-Z]+"/>
            <small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">
                El Apellido no es valido
            </small>
        </div>

        <div class="form-group">
            <label for="tax_id">Rut </label>
            <input class="form-control" type="text" name="tax_id" id="tax_id" #tax_id="ngModel" [(ngModel)]="user.tax_id"
                   required/>

            <small *ngIf="!tax_id.valid && tax_id.touched" class="invalid-feedback d-block">
                El rut no es válido
            </small>
        </div>

        <div class="form-group">
            <label for="email">Email </label>
            <input class="form-control" type="email" name="email" id="email" #email="ngModel" [(ngModel)]="user.email"
                   required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>

            <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
                El email no es valido
            </small>

        </div>

        <div class="form-group">
            <label for="roleId">Usuario </label>
            <select class="form-control" name="roleId" id="roleId">
                <option value="1">Administrador</option>
                <option value="2" [selected]="true">Copropietario</option>
                <option value="3">Equipo</option>
            </select>
        </div>

        <div class="form-group">

            <label for="picture">Avatar</label>

            <angular-file-uploader
                [config]="afuConfig"
                (ApiResponse)="avatarUpload($event)"
            ></angular-file-uploader>

        </div>

        <input type="submit" value="Guardar cambios" class="btn btn-success">
    </form>


</div>